/* Login Button */

position: absolute;
width: 600px;
height: 102px;
left: 660px;
top: 578px;

filter: drop-shadow(0px 0px 8px #000000);


/* Login Button */

position: absolute;
width: 600px;
height: 100px;
left: 660px;
top: 580px;

background: #CFAE0A;
border: 1px solid rgba(0, 0, 0, 0.6);
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 4 */

position: absolute;
width: 600px;
height: 100px;
left: 660px;
top: 580px;

background: #D9D9D9;


/* Rectangle 5 */

position: absolute;
width: 18px;
height: 20px;
left: 660px;
top: 580px;

background: #D9D9D9;


/* Rectangle 7 */

position: absolute;
width: 18px;
height: 20px;
left: 1242px;
top: 580px;

background: #D9D9D9;


/* Rectangle 6 */

position: absolute;
width: 18px;
height: 20px;
left: 660px;
top: 660px;

background: #D9D9D9;


/* Rectangle 8 */

position: absolute;
width: 18px;
height: 20px;
left: 1242px;
top: 660px;

background: #D9D9D9;


/* Login */

position: absolute;
width: 599px;
height: 102px;
left: 661px;
top: 578px;

font-family: 'Buenard';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

